// Bring in page specific fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* Main styles */
.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Nunito", sans-serif;

    .create-post-btn {
        align-self: center;
        margin-bottom: 1%;
    }
}

.all-posts-title {
    color: slategray;
    align-self: center;
}

.posts-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

    .single-post-container {
        border: 1px solid black;
        width: 15%;
        padding: 0px 20px 20px 20px;

        .post-actions-btns {
            display: flex;

            button {
                cursor: pointer;
                margin-right: 10px;
            }
        }
    }
}
